@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --text-form: #C4C4C4;
  --bg-gray: #424242;
  --accent-red: #DB202C;


  --inactive: #8C8787;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}


.text-form { color: var(--accent-red) }
.text-inactive { color: var(--inactive) }
.background-gray { background: var(--bg-gray) }

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
